<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="serviceListVo">
	<insert id="insertServiceList">
		insert into service_list values(
		#{serviceId},
		#{appPeriod},
		#{url}, #{orgCode},
		#{orgName},
		#{deptName}, #{readCount})
	</insert>
	<select id="serviceList" resultType="serviceListVo">
		select R.*
		from 
		(select rownum row_num , E.*
		    from
		        (select s.*, l.app_period, l.url, l.org_code, l.org_name, l.dept_name, l.read_count
		            from service_list l left join service s
		            on l.service_id = s.service_id
		            order by s.service_id asc
		         ) E
		) R
		where row_num between #{page} and #{pageEnd}
	</select> 
	<select id="selectServiceListByCondition" resultType="serviceListVo">
		select R.row_num, R.service_id, R.service_name, R.service_type, R.service_purpose, 
			   R.service_target, R.service_rule, R.service_content, R.app_method, 
			   R.app_period, R.url, R.org_code, R.org_name, R.dept_name, R.read_count
		from 
		(select rownum row_num , E.*
		    from
		        (select s.*, l.app_period, l.url, l.org_code, l.org_name, l.dept_name, l.read_count, c.*
		            from service_list l 
		                left join service s
		                on l.service_id = s.service_id
		                left join service_condition c
		                on l.service_id = c.svc_id
		<where>
			<if test="condMap != null">
				<foreach index="key" item="value" collection="condMap" separator="and">
				 ${key} = #{value}
				</foreach>
			</if>
			<if test="ageList != null &amp;&amp; ageList.size() != 0">
				and
				<foreach item="item" collection="ageList" separator="or">
					<foreach index="key" item="value" collection="item" separator="and">
					 ${key} = #{value}
					</foreach>
				</foreach>
			</if>
		</where>
		            order by s.service_id asc
		        ) E
		 ) R
		where row_num between #{page} and #{pageEnd} 
	</select>
	<select id="conditionCnt" resultType="_int">
		select count(*)
		from 
		(select rownum row_num , E.*
		    from
		        (select s.*, l.app_period, l.url, l.org_code, l.org_name, l.dept_name, l.read_count, c.*
		            from service_list l 
		                left join service s
		                on l.service_id = s.service_id
		                left join service_condition c
		                on l.service_id = c.svc_id
		<where>
			<if test="condMap !=null">
				<foreach index="key" item="value" collection="condMap" separator="and">
				 ${key} = #{value}
				</foreach>
			</if>
			<if test="ageList != null &amp;&amp; ageList.size() != 0">
				and
				<foreach item="item" collection="ageList" separator="or">
					<foreach index="key" item="value" collection="item" separator="and">
					 ${key} = #{value}
					</foreach>
				</foreach>
			</if>
		</where>
		            order by s.service_id asc
		        ) E
		 ) R
	</select>
</mapper>